.info{
  margin-top:7rem;
  padding:1rem;
  height: 15rem;
  width:12.5rem;
  background-color: antiquewhite;
  border-radius: 10px;
  border: 5px solid gold;
  position:absolute;
  left:2rem;
  z-index: 1;

  h1{
    margin-bottom: 1.2em;
    text-align:center;
    font-size: 1.5em;
    color:orangered;
    font-weight: 800;
  }
  h2{
    margin-left:21px;
    margin-top:14px;
    font-size: 2rem;
    text-align: center;
    color: orangered;
  }
  h1:before{
    content: url("../Layout/greenDot.png");
    display:inline-block ;
  }
  p{
    font-size: 1em;
    line-height:1.6 ;
  }
  p.distance{
    span{
      font-weight: bold;
      color:orangered;
    }
  }
  p.distance:before{
    content: url("../Layout/redDot.png");
    display:inline-block ;
  }
  p.time{
    //margin-left:21px;
  }
  p.time:before{
    content: url("../Layout/clock.png");
    display:inline-block ;
  }
  button{
    margin-top:60px;
    width:180px;
    height:40px;
    color:white;
    background-color: #24baa0;
    border-radius: 7px;
    border: none;
    font-size:18px;
  }
}